/BlogApp/blog-app/node_modules
/BurgerApp/burger-app/node_modules
/CustomersApp/customers-app/node_modules
/FirstApp/first-app/node_modules
/SecondApp/second-app/node_modules
/WeatherApp/weather-app/node_modules